<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.project.emi.eventscape">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Eventscape"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.project.emi.eventscape.MainActivity"/>
        <activity android:name=".domain.notification.NotificationActivity"/>
        <activity android:name=".domain.profile.ProfileActivity"/>
        <activity android:name=".domain.search.SearchActivity"/>
        <activity android:name="com.project.emi.eventscape.share.ShareActivity"/>
        <activity android:name=".domain.profile.AccountSettingsActivity"/>
        <activity android:name=".domain.login.LoginActivity"/>
        <activity android:name=".share.NextActivity"/>
        <activity android:name=".domain.login.RegisterActivity"/>
        <activity android:name="com.project.emi.eventscape.domain.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>